.container{
    height: 70px;
    background: rgb(0, 125, 167);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 2%;
}
.logo{
    display: flex;
    align-items: center;
}
.postButton{
    background: rgb(81, 183, 9);
    border: 0;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
@media only screen and (max-width: 778px) {
    .image{
        width: 200px;
    }
    .postButton{
        background: rgb(81, 183, 9);
        border: 0;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        cursor: pointer;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .location{
        display: none;
    }
  
}