.main {
  background: white;
  color: black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 15%;
}
.country{
  margin-bottom: 60px;
}
.state {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.countryTitle {
  background: #405e8f;
  color: white;


}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}
.stateName{
  margin-top: 10px;
  color: #405e8f;
  font-size: 25px;
}
.cityname{
  color: rgb(5, 5, 5);
  font-size: 18px;
  margin: 2px;

}
.cityname:hover{
  text-decoration: underline;
  cursor: pointer;
}
