.container{
    background: white;
    width: 50%;
    margin: auto;
    padding: 10% 10%;

}
.container img{
    margin: auto;
    display: block;
}
.container h1{
    color: black;
    text-align: center;
}
.input{
    margin: 5px;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}
.error{
    text-align: center;
    color: red;
}
.loginButton{
    margin: 5px;
    width: 120px;
    cursor: pointer;
    background: rgb(3, 151, 181);
    padding: 2px 10px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
.footer{
    color: black;
}
.footer a{
    color: blue;
    text-decoration: underline;
}

.div{
    width: 50%;
    background: white;
    color: black;
    margin: 15% auto;
}
.link{
    margin-top: 20px;
}
.formDiv , .imageContainer{
    width: 50%;
    margin: auto;
}
@media only screen and (max-width: 778px) {
    .container{
        width: 90%;
    }
}